header[b-eeycd3gtxb] {
    background: #0195A3;
}

.navbar img[b-eeycd3gtxb] {
    width: 175px;
}

.navbar-toggler[b-eeycd3gtxb] {
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 56px;
}

.nav-link[b-eeycd3gtxb] {
    color: #ffffff;
}