@page "/about-us"

<div class="masthead my-5 pb-5">
    <div class="col-sm-9 col-12 m-auto p-5">
        <div class="row gx-5 align-items-center">
            <h1 class="text-center mb-4">About us</h1>
            <div class="col-lg-12 text-center">
                <p>At Sculpō our mission is to become the central platform to connect health and fitness professionals with clients all around the world.<br />
                    Sculpō was born with the vision of making it simple to find a wide range of personal trainers, sports coaches, sports psychologists, nutritionists and many others. The platform allows you to find professionals suitable for any individual requirements, interact, book the service or purchase a product, leave a rating and review the purchase to help other buyers make an informed decision. Simultaneously, Sculpō is helping partners connect with a greater audience and market their services with ease.<br />
                    Our platform will soon become available online and via the App Store making it convenient for all to use whether from home or on the go.<br />
                    Whether you are a health and fitness industry professional looking to expand your client base or an interested potential client looking to engage with experienced professionals and unlock your potential, Sculpō can help. Register your interest using the button below. This will give you updates about our upcoming launch and give you access to exclusive benefits.</p>
                        
            </div>
        </div>
    </div>
</div>

@code {
    
}