@page "/clients"
@using SculpoWeb.Component.Clients

<div class="masthead my-5 pb-5">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <h1 class="text-center mb-4">Clients</h1>
            <div class="col-lg-6 text-center">
                <img class="img-fluid m-auto" src="/images/clientsSS.png" />
            </div>
            <div class="col-lg-6">
                <ClientForm />
            </div>
        </div>
    </div>
</div>

@code {
    
}