@page "/clients"
@using SculpoWeb.Component.Clients

<div class="masthead my-5 pb-5">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <h1 class="text-center mb-4">Clients</h1>
            <div class="col-12 mb-4">
                <p>Sculpō will make it easier than ever to find a personal trainer, sports and fitness coach, nutritionist, 
                sports psychologist and many others. The platform filters allow you to find the perfect partner to suit your 
                individual requirements regardless of how specific they may be. There are a range of possibilities from a remote 
                at home PT session to a 1:1 athletics session or a pre-written training programme to kick-start your fitness journey 
                to an elite level tennis star preparing for a competition. Our platform will be suitable for all levels of experience, 
                for beginners looking for guidance or bodybuilders preparing for a show. Sculpō will cover all goals too including 
                weight-loss, sports performance, healthy lifestyle and so on. So no matter what are you are searching for or what you 
                are aiming to achieve Sculpō can help you get there.</p>
                
                <p>Additional features include:</p>
                <ul>
                    <li><b>Well-defined explanation of partner.</b> Allows you to get a clear view of the partner before using their products 
                    or service. You will be able to view the sellers rating based on previous clients and read any reviews. Additionally we 
                    will make it clear the experience of the partners and any certifications they hold.</li>
                    <li><b>No sign-up fee for clients.</b> We believe that you should have access to view our database at your convenience with 
                    no prior payment necessary. This will allow you to find the right partner for you without any upfront agreement.</li>
                    <li><b>Clear costs.</b> The platform will make clear the total cost of any services booked or products purchased for a worry-free experience.</li>
                    <li><b>Easy payment methods.</b> The app will include PayPal and Apple Pay for a straight forward, hassle-free payment method of your choice.</li>
                </ul>
                We are very excited to get you onboarded onto our platform as soon as possible and begin helping you embark on your next challenge. If you are interested then please use the below link to sign up for upcoming updates on our launch.
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid m-auto" src="/images/clientsSS.png" />
            </div>
            <div class="col-lg-6">
                <ClientForm />
            </div>
        </div>
    </div>
</div>

@code {
    
}