@page "/"

<div class="masthead my-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0">
                    <h1 class="text-center mb-4">Welcome to Sculpō!</h1>
                    <p class="justify-content-center">Sculpō was born with a vision of helping to connect health and fitness professionals, trainers, coaches and many other with clients all around the world.  The platform allows potential clients to find professionals suitable for any individual requirements.</p>
                    <p class="justify-content-center">Our platform will soon become available online, on the App Store and Google Play making it convenient for all to use whether from home or on the go.</p>
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><img class="img-fluid" src="/images/Download_on_the_App_Store_Badge.png" /></li>
                        <li class="list-inline-item"><img class="img-fluid" src="/images/google-play-badge.png" /></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="/images/WebsiteGraphic.png" />
            </div>
        </div>
    </div>
</div>
