@page "/partners"
@using SculpoWeb.Component.Partners

<div class="masthead my-5 pb-5" id="#partners">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <h1 class="text-center mb-4">Partners</h1>
            <div class="col-12 mb-4">
                <p>At Sculpō we are excited to help health and fitness industry professionals to thrive and grow their business 
                across all areas of expertise and experience. We understand the difficulties of marketing your services and 
                products to clients, so we have created a central platform for you to market your business, engage with a 
                larger audience and showcase your ability through our rating and review system.</p>
                <p>We are looking for all types of professionals to become a partner on our platform whether you are a personal 
                trainer, sport psychologist, athletics coach and so on. We are interested in you joining regardless of your sport 
                or experience. We are looking forward to helping you thrive and grow.</p>
                
                <p>Some key features include:</p>
                <ul>
                    <li><b>Easy to use</b> Allows you to easily add a range of products or services including 1:1 sessions, online 
                    training sessions, pre-written programs, online or in-person consultation and much more.</li>
                    <li><b>Ongoing support</b> We will offer you the required support to help generate more sales and grow your business.</li>
                    <li><b>Data analytics</b> Allows you to easily visualise and understand your business operations.</li>
                    <li><b>Clear costs</b> It will be easy for you to understand all costs associated with selling with the app and have no hidden fees.</li>
                    <li><b>Ratings and reviews</b> This feature will allow you to showcase all of your hard work by allowing customers to see your average rating and past reviews.</li>
                </ul>
                <p>We are very excited to get you onboarded onto our platform as soon as possible and begin helping you to grow. If you are interested then please use the below link to 
                sign up for upcoming updates and free sign-up upon launch.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid m-auto" src="/images/partnersSS.png" />
            </div>
            <div class="col-lg-6">
                <PartnerForm/>
            </div>
        </div>
    </div>
</div>


@code {
    
}