@page "/partners"
@using SculpoWeb.Component.Partners

<div class="masthead my-5 pb-5" id="#partners">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <h1 class="text-center mb-4">Partners</h1>
            <div class="col-lg-6 text-center">
                <img class="img-fluid m-auto" src="/images/partnersSS.png" />
            </div>
            <div class="col-lg-6">
                <PartnerForm/>
            </div>
        </div>
    </div>
</div>


@code {
    
}