@inherits LayoutComponentBase
@using SculpoWeb.Component

<div class="page">
    <Header />
    <div class="container-fluid">
        <div class="row">
            @Body
        </div>
    </div>
    <Footer />
</div>