<header class="d-flex">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="container d-flex">
                    <a class="navbar-brand d-flex align-items-center m-auto m-sm-0" href="#">
                        <img src="/images/headerlogo.JPG" alt="Logo"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi-list"></i>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                            <li class="nav-item">
                                <a class="nav-link me-lg-3" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-lg-3" href="/partners">Partners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-lg-3" href="/clients">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-lg-3" href="/about-us">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
@code {
    
}